body {
  color: red;
  font-family: monospace;
  background-color: black;
}

p, a {
  margin: 0;
  font-size: 3vw;
}

#driverstation-console {
  border: 1px solid red;
  width: 90%;
  height: 70vh;
}

#manual-input-light:hover {
  cursor: pointer;
  user-select: none;
}