body {
  color: white;
  margin: 0;
  font-family: monospace;
  background-color: black;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.text-center {
  text-align: center;
}

.large-text {
  font-size: 7vw;
}

.mobile-nabla {
  font-size: 25vw;
}

#samaritan-interface {
  width: 100%;
  position: absolute;
  top: 40%;
  word-break: break-all;
}

#nabla {
  text-align: center;
  color: red;
}

#desktop-nabla {
  display: none;
  text-align: center;
  color: red;
}