body {
  color: white;
  font-family: monospace;
  background-color: black;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.text-center {
  text-align: center;
}

.large-text {
  font-size: 3vw;
}

.mobile-nabla {
  font-size: 10vw;
}

#samaritan-interface {
  width: 100%;
  position: absolute;
  top: 50%;
}

#nabla {
  color: red;
}